.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-content: center;
    padding: 32px 300px 32px 300px;
}

img {
    width: 100%;
    object-fit: cover;
}

.film-card {
    border-radius: 0;
    height: 100%;

    &:hover {
        cursor: pointer;
    }
}

.card-header {
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 72px;

    h3 {
        font-weight: bold;
        font-size: 48px;
    }
}

.info {
    font-size: 12px;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 8px;
}

.detail {
    font-size: 12px;
    margin: -4px;
    padding-left: 6px;
}

/* Responsive adjustments */
@media (max-width: 1366px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        padding: 72px;
    }
}

@media (max-width: 960px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 32px;
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        padding: 32px;
    }
}